* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 110px;
  border: 1px solid grey;
}

nav {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 450px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 13px;
}

h1 {
  font-size: 30px;
  margin-left: 20px;
}

.right-header-wrapper {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 110px;
}

.logo-wrapper {
  border: 1px solid red;
  display: flex;
  text-align: right;
  align-items: center;
}

.username-wrapper {
  border: 1px solid blue;
  display: flex;
  align-items: center;
}

.username {
  font-size: 13px;
  margin-left: 5px;
}

.logo-name {
  font-size: 25px;
  margin-right: 5px;
}

/* Cards */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid pink;
}

.card-wrapper {
  margin: 5px;
  padding: 5px;
  height: 450px;
  width: 300px;
  box-shadow: 2px 2px 2px grey;
  border: 1px solid purple;
}

.card-info-wrapper {
  display:flex;
  justify-content: right;
  flex-direction: row;
  height: 200px;
  border: 1px solid orange;
}

.views-wrapper {
  text-align: center;
  color: #FFFFFF;
  margin: 20px 20px 0px 0px;
}

.views {
  font-size: 15px;
}

.view-count {
  font-size: 30px;
}

.card-body {
  margin: 20px 10px 5px 5px;

}

h2 {
  font-size: 20px;
  margin: 5px 0px 6px 5px;
}

.date {
  font-size: 14px;
  margin: 5px 0px 0px 5px;
}

.grey-description-box {
  background-color: #EFEFEF;
  margin: 5px;
  padding: 5px;
  height: 60px;
  width: 270px;
  text-align: left;
  font-size: 12px;
}

h3 {
  font-size: 12px;
  margin: 20px 0px 6px 5px;
}

.attachment-count {
  font-size: 30px;
  margin: 0px 0px 6px 5px;
}

/* Card Images*/
.card1 {
  background-image: url("./assets/1-unsplash.jpg");
  background-size: cover;
}

.card2 {
  background-image: url("./assets/2-unsplash.jpg");
  background-size: cover;
}

.card3 {
  background-image: url("./assets/3-unsplash.jpg");
  background-size: cover;
}

.card4 {
  background-image: url("./assets/4-unsplash.jpg");
  background-size: cover;
}

.card5 {
  background-image: url("./assets/5-unsplash.jpg");
  background-size: cover;
}

.card6 {
  background-image: url("./assets/6-unsplash.jpg");
  background-size: cover;
}

.card7 {
  background-image: url("./assets/7-unsplash.jpg");
  background-size: cover;
}

.card8 {
  background-image: url("./assets/8-unsplash.jpg");
  background-size: cover;
}
